main{
    padding-top: 35%;
    width: 88%;
    margin: auto; 
}

.video__wrapper{
    display: flex;
    margin: center;
    height: 201px;
  
   
}

@media screen and (min-width: 800px){

main{
    padding-top: 10%;
    width: 66%;
}
.video__wrapper{
    display: flex;
    width: 70%;
    height: 400px;
}
}
