
main{
    background-color: var(--light-color);
    padding-top:103px;   
}
 .bloc-container{ 
    display: block;
    height: auto;
    margin:0% 5% 0% 5%;
   
  
}
.titre{
    display: block;
}

.imgproduct img{
   
    max-width: 100%;
    height: auto;
    aspect-ratio : 1/1 ;
   
}
.colors{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    
    
}
.colors p{
    margin-right: 10px;
   
    
}
.pastilles{
   display: flex;
    max-width: 80%;
    justify-content: space-around;
    width: 500px;
    margin: 10%;
    
    
}



.color1 {
    
    width: 35px;
    height: 35px;
    border-radius: 20px;
    background-color: black;
    border: solid;
    
    
    
}
.color2 {
    
    width: 35px;
    height: 35px;
    border-radius: 20px;
    background-color: blue;
    border: solid;
    
}
.color3 {
    
    width: 35px;
    height: 35px;
    border-radius: 20px;
    background-color:violet;
    border: solid;
}
.container-size{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.container-size p{
    width: 100%;
    
}
.size {
    width: 10%;
    border: solid;
    text-align: center;
    font-size: 1.2rem;
    border-radius: 0.5rem;
}

.achat {
     display: flex;
    margin-top: 10%;
    background-color:var(--primary-color);
    justify-content: center;
    align-items: center; 
    margin: 5% auto;
    border-radius: 0.5rem;
    padding: 0.5rem;
    
} 
   
 .conseil{
    width: 100%;
    display: flex;
    margin-top: 5%;
   /* justify-content: space-around; */
   flex-wrap: wrap;
  
  

} 
.sugestion{
    display: flex;
    /* max-width: 100%; */
    border: solid;
    margin-top: 5%;
    flex-wrap: nowrap;
    overflow-x: scroll;
    
    
    
}

.photo img{
    max-width: 100%; 
    height: auto;
    aspect-ratio : 1/1 ;
    width: 20px;
    
}


/* version ordi */


@media screen and (min-width:800px){
     .bloc-container{
        width: 66%;
        margin: auto;
    }
    .imgproduct{ 
        width: 60%;


    }
    .container-description{
        width: 40%;
        margin-left: auto;
        
    }
    .gallery {
        display:flex;
        flex-direction: row;
    }

}
    
    
